In [1]:
i=1
while i<=10:
    print(i)
    if i==3:
        break
    i=i+1

1
2
3

In [17]:
i=1
while i<=10:
   i=i+1
   if i==3:
      continue
   print(i)

2
4
5
6
7
8
9
10
11

In [19]:
#WAP to print sum of square of natural number
#WAP to print sum of cube of natural number

n=int(input('Number'))
i=1
sum=0
while (i<=n):
    sum=sum+n*n
    i=i+1
print(sum)

Number 5

125

In [21]:
#WAP to print sum of square of natural number
#WAP to print sum of cube of natural number

n=int(input('Number'))
i=1
sum=0
while (i<=n):
    sum=sum+n*n*n
    i=i+1
print(sum)

Number 5

625

In [31]:
i=1
while i<=10:
   i=i+1
   if i==3:
       continue
       
   if i==7:
        continue
        
   print(i)

2
4
5
6
8
9
10
11

In [1]:
#0A for loop is sused for iterating over a sequence
#(that is either a list , a tuple , a dictionary or a string.)

L1 = ['a','b','c','d','e','f']
for x in L1:
    print(x)

a
b
c
d
e
f

In [5]:
for x in "AAFT":
    print(x)

A
A
F
T

In [7]:
#break statement
#Exit the loop when x is 'B'

L1=['A','B','C','D']
for x in L1:
    print(x)
    if x == 'B':
        break

A
B

In [11]:
L1=['A','B','C','D']
for x in L1:
    if x == 'B':
        break
    print(x)

A

In [15]:
#Continue Statementl
L1=['A','B','C','D']
for x in L1:
    if x == 'B':
        continue
    print(x)

A
C
D

In [17]:
#Range() Function
for x in range(2,12):
    print(x)

2
3
4
5
6
7
8
9
10
11

In [19]:
for x in range(0,51,5):
    print(x)

0
5
10
15
20
25
30
35
40
45
50

In [27]:
#Nested For Loops
L2=[1,2,3]
L1=['a','b','c','d']
for x in L2:
    for y in L1: 
        print(x,y)

1 a
1 b
1 c
1 d
2 a
2 b
2 c
2 d
3 a
3 b
3 c
3 d

In [29]:
#pass statemnt : for loops cannot be empty
#but if you for some reason have a for loop with no content'
#put in the pass statement to avoid getting an error.
for x in [0,1,2]:
    pass